@import 'node_modules/hiq/dist/hiq.min.scss';

$circle-length: 151px;
$check-length: 36px;
$text-fadeIn: 1.4s;

.center {
  margin: auto;

}

.mitte {
  margin-left: 50%;
}

svg {
  margin-left: -35px;
}

a {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  text-decoration: none;
  outline: none;
}

.info {
  margin: auto;
  color: white;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin-top: 12px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  p, h3, h4, h5{
    color: black;
  }

  
  -webkit-animation: fadein $text-fadeIn; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $text-fadeIn; /* Firefox < 16 */
  -ms-animation: fadein $text-fadeIn; /* Internet Explorer */
    -o-animation: fadein $text-fadeIn; /* Opera < 12.1 */
       animation: fadein $text-fadeIn; 
       
}
@keyframes fadein {
  0%   { opacity: 0; }
  70%  { opacity: 0; }
  100% { opacity: 1; }

}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  70%  { opacity: 0; }
  100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  70%  { opacity: 0; }
  100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0%   { opacity: 0; }
  70%  { opacity: 0; }
  100% { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0%   { opacity: 0; }
  70%  { opacity: 0; }
  100% { opacity: 1; }
}


//svg animation //

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #FFF;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #FFF;
}

#successAnimationResult {
  fill: #FFF;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
  
  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}