

<section class="middle-wrapper">
    <p>Insgesammt {{formsData?.length}}</p>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
        <dl class="example-dl">
          <ng-container *cdkVirtualFor="let form of formsData; let i = index">
              <div (click)="onFormSelect(i, form)">
                <dt class="example-dt">{{i}}  {{form?.FilmDetails?.titel || 'laden...'}}</dt>
                <dd class="example-dd">{{form?.YourDetails?.vorname || 'laden...'}} {{form?.YourDetails?.name || 'laden...'}} &nbsp;&nbsp;&nbsp;&nbsp;  ___filmID:&nbsp; {{form?.id}}</dd>
              </div>
          </ng-container>
        </dl>
      </cdk-virtual-scroll-viewport>
      
      <div style="margin-top: 6px;">
        <button (click)="onPrevious()" mat-button>back back back</button> <button (click)="onNext()" mat-raised-button color="primary" > give me more </button>
      </div>
      
</section>


<section class="middle-wrapper" style="margin-top: 35px;" *ngIf="formsData">
    <h2>{{currentSelection}} {{formsData[currentSelection]?.FilmDetails?.titel || '??'}} <h3> {{formsData[currentSelection]?.id}} </h3></h2>

    <video width="620" controls *ngIf="videoRdy">
    <source
        src={{videoURL}}
        type="video/mp4">
    <source
        src={{videoURL}}
        type="video/ogg">
    <source
        src={{videoURL}}
        type="video/avi">
    Video wird nicht untersützt ;( hier der link 
    </video> <br>
    
    <div *ngIf="videoRdy">
        <a href="{{videoURL}}">Download</a>
    </div>




    <h3>Nützliche dinge:</h3>

    <div>
        <a href="{{formsData[currentSelection].uploadUserURL}}" target="_blank" rel="noopener"> ExternerVideoLink ({{formsData[currentSelection].uploadUserURL}}) </a>
    </div>

    <div style=" border: 1px solid grey;">
        <p>das sagt {{formsData[currentSelection].YourDetails.vorname}} über den upload</p>
        <p>{{formsData[currentSelection].uploadUserNotes}}</p>
    </div>

    <div>
        <p>Hat {{formsData[currentSelection].YourDetails.vorname}}  das upload portal geöffnet?  &nbsp;&nbsp;&nbsp;&nbsp;  {{formsData[currentSelection].uploadPortalOpen}}</p>
      
    </div>

    
</section>

<!-- bewertung -->
<section class="middle-wrapper">
    <br>
    <hr><br>
    
    <form class="" #vote="ngForm"  (ngSubmit)="onVoteSubmit(vote,formsData[currentSelection].id )">
        <div class="grid3">
            <!--Drehbuch 1,5x -->
            <div>
                <mat-form-field >
                    <mat-label>drehbuch (1,5x)</mat-label>
                    <input matInput name="drehbuch" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required> 
                </mat-form-field>
                {{DBVote?.drehbuch || "👀"}}

            </div>

            <!-- Schauspilerische Leisung 1,0x -->
            <div>
                <mat-form-field >
                    <mat-label>Schauspilerische Leisung (1,0x)</mat-label>
                    <input matInput name="acting" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required>
                </mat-form-field>
                {{DBVote?.acting || "👀"}}
            </div>

            <!-- Bildgestalgung 1,0x -->
            <div>
                <mat-form-field >
                    <mat-label>Bildgestalgung (1,0x)</mat-label>
                    <input matInput name="bildgestalgung" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required >
                </mat-form-field>
                {{DBVote?.bildgestalgung  || "👀"}}
            </div>
            

            <!-- Musik/ Ton 1,0x -->
            <div>
                <mat-form-field >
                    <mat-label>Musik/ Ton (1,0x)</mat-label>
                    <input matInput name="audio" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required>
                </mat-form-field>
                {{DBVote?.audio  || "👀"}}
            </div>

            <!--Postpruduktion 1,0x -->
            <div>
                <mat-form-field >
                    <mat-label>Postpruduktion (1,0x)</mat-label>
                    <input matInput name="postpruduktion" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required>
                </mat-form-field>
                {{DBVote?.postpruduktion  || "👀"}}
            </div>

            <!-- Gesamteindruck  2,0x -->
            <div>
                <mat-form-field >
                    <mat-label>Gesamteindruck (2,0x)</mat-label>
                    <input matInput name="gesamteindruck" type="number" autocomplete="off" placeholder="0-100" min="0" max="100" ngModel required>
                </mat-form-field>
                {{DBVote?.gesamteindruck  || "👀"}}
            </div>

            <br>
        </div>
        <div style="display: flex; width: 100%;">
            <!-- frage 1-->
            <div style="width: 100%;">
                <textarea matInput cdkTextareaAutosize placeholder="Frage1" name="question1" autocomplete="off" type="text" ngModel required cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10">
                </textarea>
                {{DBVote?.question1  || "👀"}}

            </div>

            <!-- frage 2-->
            <div style="width: 100%;">
                <textarea matInput cdkTextareaAutosize placeholder="Frage2" name="question2" autocomplete="off" type="text" ngModel required cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10">
                </textarea>
                {{DBVote?.question2  || "👀"}}

            </div>
        </div>

        <br>
        <button mat-raised-button color="primary" type="submit" >Speichern</button>
    </form>

    
    <br><br><hr>
</section>

<section class="middle-wrapper" style="margin-top: 35px;" *ngIf="formsData">
    <h1>FilmDetails:</h1>

    <p><b>budget:</b> {{formsData[currentSelection]?.FilmDetails?.budget}} </p>
    <p><b>deutscher_titel:</b> {{formsData[currentSelection]?.FilmDetails?.deutscher_titel}} </p>
    <p><b>drehbuch:</b> {{formsData[currentSelection]?.FilmDetails?.drehbuch}} </p>
    <p><b>event_marketing:</b> {{formsData[currentSelection]?.FilmDetails?.event_marketing}} </p>
    <p><b>geburtsdatum_regisseur:</b> {{formsData[currentSelection]?.FilmDetails?.geburtsdatum_regisseur}} </p>
    <p><b>genre:</b> {{formsData[currentSelection]?.FilmDetails?.genre}} </p>
    <p><b>inhalt:</b> {{formsData[currentSelection]?.FilmDetails?.inhalt}} </p>
    <p><b>kameramann:</b> {{formsData[currentSelection]?.FilmDetails?.kameramann}} </p>
    <p><b>kulisse:</b> {{formsData[currentSelection]?.FilmDetails?.kulisse}} </p>
    <p><b>laenge:</b> {{formsData[currentSelection]?.FilmDetails?.laenge}} </p>
    <p><b>produktionsjahr:</b> {{formsData[currentSelection]?.FilmDetails?.produktionsjahr}} </p>
    <p><b>produktionsland:</b> {{formsData[currentSelection]?.FilmDetails?.produktionsland}} </p>
    <p><b>produzent: </b>{{formsData[currentSelection]?.FilmDetails?.produzent}} </p>
    <p><b>preis:</b> {{formsData[currentSelection]?.FilmDetails?.radio}} </p>
    <p><b>schauspieler:</b> {{formsData[currentSelection]?.FilmDetails?.schauspieler}} </p>
    <p><b>schonmal-teilgenomme:</b> {{formsData[currentSelection]?.FilmDetails?.schonmal-teilgenomme}} </p>
    <p><b>sprache: </b>{{formsData[currentSelection]?.FilmDetails?.sprache}} </p>
    <p><b>studium:</b> {{formsData[currentSelection]?.FilmDetails?.studium}} </p>
    <p><b>titel: </b>{{formsData[currentSelection]?.FilmDetails?.titel}} </p>
    <p><b>ton_musik: </b> {{formsData[currentSelection]?.FilmDetails?.ton_musik}} </p>
    <p><b>untertitel: </b> {{formsData[currentSelection]?.FilmDetails?.untertitel}} </p>
    <p><b>website: </b> {{formsData[currentSelection]?.FilmDetails?.website}} </p>
    <p><b>werbung: </b> {{formsData[currentSelection]?.FilmDetails?.werbung}} </p>

</section>