.middle-wrapper{
    margin: auto;
    width: 90%;
    padding: 10px;
}

.example-viewport {
    height: 200px;
    width: 80vw;
    border: 1px solid black;
  }
  
  .example-dt {
    
    margin-left: 12px;
    height: 30px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
    margin-bottom: 20px;
  }

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media only screen and (max-width: 1024px) {
    .grid3 {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .grid3 {
        grid-template-columns: 1fr;
    }
}