<div style="text-align: center; margin: 25px" *ngIf=" files.length > 0">
    <h3>Uploads:</h3>
</div> 
 
<!--
<div *ngFor="let file of files">
  <app-upload-task [file]="file" [docID]="docID"></app-upload-task>
  <p i18n style="text-align: center; margin: 3px; margin-bottom: 25px;"> Wenn alle dateien hochgeladen sind kannst du diese Seite schließen. </p>
</div>

<div class="dropzone" 
    appDropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">


     <h3 i18n>Du hast bis zum 30.04.2020 zeit deinen Film hochzuladen</h3>
     <p i18n>Datei (en) hier hineinziehen.</p>
     <p i18n> oder: </p>
     <input type="file" name="filefield" (change)="onDrop($event.target.files)" multiple="multiple">
</div>
-->
<div class="div-block-2">
<div class="dropzone" 
  appDropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering">
  <h1 class="heading-2">Du hast bis zum 30.4.2020 zeit deinen Film hochzuladen:</h1>
    <h5 class="heading-4">Datei(en) hier hinziehen.<br>‍<br>oder:</h5>
    <input class="button w-button" type="file" name="filefield" (change)="onDrop($event.target.files)" multiple="multiple">
  </div>
  <div class="div-block-3">
  <!--
    <div class="text-block"><strong>beispiel.mov</strong><br>___________________________<br>100%<br>‍<br>Erfolgreich Hochgeladen!</div>
  -->
    <div *ngFor="let file of files">
      <app-upload-task [file]="file" [docID]="docID"></app-upload-task>
      <div class="text-block-3">Wenn alle Dateien hochgeladen sind, kannst du diese Seite schließen!</div>
    </div>
  </div>
</div>