.heading {
    text-align: center;
  }
  
  .heading-2 {
    margin-top: 39px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  
  .div-block {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  
  .text-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 22px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .text-block-2 {
    margin-top: 7px;
    margin-left: 20px;
  }
  
  .text-block-3 {
    margin-top: 7px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }
  
  .div-block-2 {
    margin: 16px 20px 33px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 0 7px 0 grey;
    opacity: 1;
  }
  
  .heading-3 {
    margin-top: 29px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .heading-4 {
    margin-top: 30px;
    text-align: center;
  }
  
  .text-block-4 {
    margin-bottom: 12px;
    text-align: center;
  }
  
  .button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 23px auto 7px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 0 grey;
    text-align: center;
  }
  
  .div-block-3 {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .form {
    margin-top: 23px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .submit-button {
    display: block;
    width: 200px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 0 grey;
  }
  
  @media (max-width: 767px) {
    .heading-2 {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  
  @media (max-width: 479px) {
    .text-block {
      margin-right: 10px;
      margin-left: 10px;
    }
    .text-block-3 {
      margin-right: 10px;
      margin-left: 10px;
    }
  }