<ng-container *ngIf="linkValid">
        
        <app-uploader [docID]="docID"></app-uploader>
<!-- 
        <div class="urlBOX">
            <input [(ngModel)]="userURL" id="input" type="url" placeholder="https://youtube.com/...">
            <br>
            <label i18n for="textarea">Notizen</label>
                <textarea [(ngModel)]="userNotes" id="textarea" placeholder="text..."></textarea>
           
            <button i18n style="align-self: center; text-align: center;" i18n (click)="onSubmit()" > Abschicken</button>
           
            <div *ngIf="formSucess === true">
                <h4 i18n> Erfolgreich übermittelt!</h4>
            </div>
            <div *ngIf="formSucess === false">
                <h4 i18n> Leider ist ein fehler aufgetreten probiere es später nocheinmal.</h4>
            </div>
        </div>
  <h1 class="heading-2">Du hast bis zum 30.4.2020 zeit deinen Film hochzuladen:</h1>
  <div class="div-block-2">
    <h5 class="heading-4">Datei(en) hier hinziehen.<br>‍<br>oder:</h5><a href="#" class="button w-button">Dateien auswählen</a>
    <div class="div-block-3">
      <div class="text-block"><strong>beispiel.mov</strong><br>___________________________<br>100%<br>‍<br>Erfolgreich Hochgeladen!</div>
      <div class="text-block-3">Wenn alle Dateien hochgeladen sind, kannst du diese Seite schließen!</div>
    </div>
  </div>
-->
  <div>
    <h3 class="heading-3">oder:</h3>
  </div>
  <div class="div-block-2">
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
          <label for="name">Video URL (vimeo, youtube):</label>
          <input [(ngModel)]="userURL" type="url" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="https://www.youtube.com/watch?v=..." id="name">
          <label i18n for="textarea">Notizen</label>
          <textarea [(ngModel)]="userNotes" placeholder="text..." maxlength="5000" id="textarea" id="field" name="field" class="w-input"></textarea>
          <input type="submit" value="Abschicken" data-wait="Please wait..." class="submit-button w-button" (click)="onSubmit()">
          
          <div *ngIf="formSucess === true">
                <h4 i18n> Erfolgreich übermittelt!</h4>
            </div>
            <div *ngIf="formSucess === false">
                <h4 i18n> Leider ist ein fehler aufgetreten probiere es später nocheinmal.</h4>
            </div>
        </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>

</ng-container>


<ng-container *ngIf="loading">
    <h2 i18n> Link wird überprüft.</h2>
</ng-container>

<ng-container *ngIf="!linkValid && !loading">
    <h2 i18n> Link ungültig!</h2>
</ng-container>


