<!--
<ngx-auth-firebaseui-login [registrationEnabled]="false" [providers]="[]"></ngx-auth-firebaseui-login>
-->

<ngx-auth-firebaseui (onSuccess)="onSucess($event)" [registrationEnabled]="false" [guestEnabled]="false" [providers]="[]"></ngx-auth-firebaseui>