<div class="upload-task-wrapper">
  <div *ngIf="percentage | async as pct">
      <progress [value]="pct" max="100"></progress>
      {{ pct | number }}%
    </div>
    
    
    
    <div *ngIf="snapshot | async as snap">
    
      <!-- {{ snap.bytesTransferred }} of {{ snap.totalBytes }} -->
    
      <div *ngIf="downloadURL as url">
        <h3  >{{file.name}} </h3> <h4 i18n>Erfolgreich Hochgeladen!</h4>
        <!--<img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
      </div> 
      <div *ngIf="!downloadURL as url">
        <button i18n (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
        <button i18n (click)="task.cancel()" [disabled]="!isActive(snap)">abbrechen</button>
        <button i18n (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">fort­set­zen</button>
      </div>
      
    </div>
</div>
