@import 'node_modules/hiq/dist/hiq.min.scss';

.ng-pristine{
    
}
.ng-dirty{
border: 1px solid red;
}
.ng-valid{
border: 1px solid green;
}
.element{
margin-left: 20px;
}

.heading{
    position: relative;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    margin-bottom: -20px; 
}

.bg-image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background: url(/assets/header.jpg) no-repeat;
    filter: opacity(80%);
    //filter: blur(4px);
    background-size: cover;
}
.heading-content{
    position: absolute;
    z-index: 1;
    padding-top: 80px;
    width: 100%;
    color: white;
    font-size: 250%;
    h1{
        font-size: 150%;
    }
}

h2{
    margin-top: 18px;
    text-align: center;
}
.form{
    position: relative;
    border: 0px solid white;
    margin: 0px auto auto auto;
    z-index: 1;
}
.div-element{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.aussen{
    text-align: center;
}
.label-div{
    text-align: left;
}
.frage{
    margin-left: 43px;
    margin-top: 10px;
}
.fieldset1{
    padding-top: 15px;
}
button{
    margin-bottom: 30px;
}
.eingabe2{
    margin-right: 40px;
}

.submit {
    position: absolute;
    right: 20%;
    
}

.privacy {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    text-decoration: none;
    outline: none;
  }