<div *ngIf='!isSubmitted'>
  <div class="heading">
    <div class="heading-content">
        <h1>Chiemseer Kurzfilmtage 2020</h1>
    </div>
    <div class="bg-image"></div>
  </div>
</div>
<form *ngIf='!isSubmitted' #meinFormular="ngForm" class="form" (ngSubmit)="onSubmit(meinFormular)">
    <h2 i18n>Deine Daten:</h2>
  <fieldset ngModelGroup="YourDetails" class="fieldset1">
    <div class="aussen">
      <div class="div-element">
        <div class="label-div">
            <label i18n>Vorname*:</label>
        </div>
          <input type="text" name="vorname" size=50 class="eingabe" required ngModel>
          <br><br>
      </div>
      <div class="div-element">
        <div class="label-div">
          <label i18n>Name*:</label>
        </div>
          <input type="text" name="name" size=50 class="eingabe" required ngModel>
          <br><br>
      </div>
      <div class="div-element">
        <div class="label-div">
            <label i18n>E-Mail Adresse*:</label>
        </div>
        <input type="email" name="email" size=50 class="eingabe" required email ngModel>
            <br><br>
      </div>
    </div>
    <div class="aussen">
        <div class="div-element">
            <div class="label-div">
                <label i18n>Adresse*:</label>
            </div>
              <input type="text" name="address" size=50 class="eingabe" required ngModel>
              <br><br>
          </div>
          
        <div class="div-element">
            <div class="label-div">
                <label i18n>Postleitzahl*:</label>
            </div>
            <input type="text" name="postleitzahl" size=20 class="eingabe" required ngModel>
            <br><br>
          </div>
        <div class="div-element">
            <div class="label-div">
                <label i18n>Ort*:</label>
            </div>
            <input type="text" name="ort" size=36 class="eingabe" required ngModel>
            <br><br>
          </div>
        <div class="div-element">
            <div class="label-div">
                <label i18n>Land*:</label>
            </div>
            <input type="text" name="land" size=36 class="eingabe" required ngModel>
            <br><br>
          </div>
    </div>
    <div class="aussen">
        <div class="div-element">
            <div class="label-div">
                <label i18n>Telefonnummer*:</label>
            </div>
            <input type="tel" name="telefonnummer" size=36 class="eingabe" required ngModel>
            <br><br>
          </div>
        <div class="div-element">
            <div class="label-div">
                <label i18n>Geburtsdatum*:</label>
            </div>
            <input type="date" name="geburtsdatum" size=50 class="eingabe" required ngModel>
            <br><br>
          </div>
          
        <div class="div-element">
            <div class="label-div">
                <label i18n>Beruf:</label>
            </div>
            <input type="text" name="beruf" size=97 class="eingabe" ngModel>
            <br><br>
          </div>
    </div>
    <div class="aussen">
        <div class="div-element">
            <div class="label-div">
                <label i18n>Anwesenheit am Event*:</label>
                <p>07-08.11.2020 Prien am Chiemsee</p>
            </div>
            <input list="anwesenheit" name="anwesenheit" size=165 placeholder="Ja..." class="eingabe" required ngModel>
            
            <datalist id="anwesenheit">
                <option i18n value="Ja, ich werde am Event anwesend sein." >
                <option i18n value="Ja, ich werde am Event anwesend sein, jedoch nur während meinem Screening." >
                <option i18n value="Nein, ich werde nicht anwesend sein." >
                <option i18n value="Ich weiß es noch nicht"></option>
            </datalist>
            <br><br>
          </div>
    </div>
  </fieldset>
  <hr>
  <h2 i18n>Film Daten:</h2>
  <br>
  
  <fieldset ngModelGroup="FilmDetails">

      <div class="aussen radio">
          <div class="div-element">
            <legend i18n>ist der film im Rahmen eines Studiums entstanden?*</legend>
            <input type="radio" id="studium_ja" value="studium_ja" name="studium" ngModel required>
            <label i18n for="studium_ja" >Ja</label>
  
            <input type="radio" id="studium_nein" value="studium_nein" name="studium" ngModel required>
            <label i18n for="studium_nein" >Nein</label>
          </div>
      </div>
      <br>
      <br>
    
      <div class="aussen">
        <div class="div-element radio">
            
            <legend i18n> Ich reiche den Film ein für...*</legend>
            <div class="radio">            
              <input  type="radio" id="event"  name="radio" [disabled]="false" value="zeigen" ngModel required>
              <label for="event" i18n>die Offical Selection der Chiemseer Kurzfilmtage 2020.</label> 
             </div>
             <div class="radio">
                <input  type="radio" id="publikumspreis" [disabled]="meinFormular.form.value.FilmDetails.studium === 'studium_ja'" name="radio" value="preis"  ngModel required>
                <label for="publikumspreis" i18n   >die Offical Selection der Chiemseer Kurzfilmtage 2020 und den Wettbewerb um den Zuschauerpreis 2020.</label>
                <div *ngIf="meinFormular.form.value.FilmDetails.studium === 'studium_ja'">
                  <br>
                    <h5 >Kurzfilme die im Rahmen eines Studiums entstanden sind können nicht mit dem Zuschauerpreis ausgezeichnet werden.</h5>
                </div>
             </div>

            
            <br><br>
          </div>
      </div>
      

      <br>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>originaler Titel*:</label>
            </div>
            <input type="text" name="titel" size=78 class="eingabe" required ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>deutscher Titel:</label>
              </div>
              <input type="text" name="deutscher_titel" size=78 class="eingabe" ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Produktionsland*:</label>
            </div>
            <input type="text" name="produktionsland" size=78 class="eingabe" required ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Genre*:</label>
              </div>
              <input type="text" name="genre" size=78 class="eingabe" required ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Regisseur*:</label>
            </div>
            <input type="text" name="regisseur" size=130 class="eingabe" required ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Geburtsdatum des Regisseurs*:</label>
              </div>
              <input type="date" name="geburtsdatum_regisseur" size=78 class="eingabe" required ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Drehbuch*:</label>
            </div>
            <input type="text" name="drehbuch" size=78 class="eingabe" required ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Kameramann:</label>
              </div>
              <input type="text" name="kameramann" size=78 class="eingabe" ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Kulisse:</label>
            </div>
            <input type="text" name="kulisse" size=78 class="eingabe" ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Ton/Musik:</label>
              </div>
               <input type="text" name="ton_musik" size=78 class="eingabe" ngModel>
                <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Schauspieler/in:</label>
            </div>
            <input type="text" name="schauspieler" size=164 placeholder="Name1, Name2, etc." class="eingabe" ngModel>
            <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Produzent:</label>
            </div>
            <input type="text" name="produzent" size=64 class="eingabe" ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Produktionsjahr*:</label>
              </div>
              <input type="number" name="produktionsjahr" size=64 class="eingabe" required ngModel>
              <br><br>
            </div>
            <div class="div-element">
                <div class="label-div">
                    <label i18n>Produktionsbudget (in €)*:</label>
                </div>
                <input type="number" name="budget" size=50 class="eingabe" required ngModel>
                <br><br>
              </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Länge(in Minuten)*:</label>
              </div>
              <input type="number" name="laenge" size=50 class="eingabe" required ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
        <div class="div-element">
          <label i18n>Website</label>
          <input type="text" name="website" size=64 ngModel>
          <br><br>
        </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div">
                <label i18n>Sprache*:</label>
            </div>
            <input type="text" name="sprache" size=78 placeholder="Original Sprache; (poss.:2.sprache, 3.sprache,...)" class="eingabe" required ngModel>
            <br><br>
            </div>
            <div class="div-element">
              <div class="label-div">
                  <label i18n>Untertitel:</label>
              </div>
              <input type="text" name="untertitel" size=78 class="eingabe" ngModel>
              <br><br>
            </div>
      </div>
      <div class="aussen">
          <div class="div-element">
            <div class="label-div"><label i18n>Text für das Programmheft (Inhalt, ungefähr 100 wörter)*:</label>
            </div>
            <textarea name="inhalt" size=164 cols="151" class="eingabe" ngModel required></textarea>
            <br><br>
            </div>
          

      </div>
      <div class="aussen">
        <div class="div-element">
          <!--
          <div class="label-div"><label i18n>Filmrechte*:</label>
          </div>
          <input i18n type="text" name="rechte" placeholder="Hochschule, FirmaXY, Max Mustermann" size="64" class="eingabe" ngModel>
          -->
          <br><br>
          </div>
          <div class="div-element">
            <div class="label-div">
                <label i18n >Wie bist du auf das Event aufmerksam geworden?*:</label>
            </div>
            <input type="text" name="event_marketing" size=64 class="eingabe" placeholder="Instagram, Freund, Suchmaschiene" ngModel required>
            <br><br>
          </div>

    </div>
      <div class="aussen">
            <div class="div-element radio">
              <div class="label-div" >
                  <legend i18n>Hast du schonmal bei den Chiemseer-Kurzfilmtagen teilgenummen?*</legend>
              </div>
              <input type="radio"   id="j" name="schonmal-teilgenomme" value="bereits_teilgenommen" class="eingabe" ngModel required>
              <label for="j" i18n >Ja ich habe bereits teilgenommen</label> 
              
              <input type="radio" id="n" name="schonmal-teilgenomme" value="erstes_mal" class="eingabe" ngModel required>
              <label for="n" i18n>Nein, dies ist das erste mal</label> 
              <br><br>
            </div>
      </div>
      <br>
      <br>
      <div class="aussen">
        <div class="div-element checkbox">
          <input type="checkbox" id="werbung" name="werbung" value="werbung" ngModel>
          <label i18n for="werbung">Ich bin damit einverstanden, dass maximal 20% meines Films für Werbung (Trailer etc.) <br> verwendet werden darf. (optional)</label>

          <input type="checkbox" id="agb" name="agb" value="agb" ngModel required>
          <label i18n for="agb">Ich bin mit den <a href="https://chiemseer-kurzfilmtage.de/nutzungsbedingungen/" target="blank">Nutzungsbedingungen</a> einverstanden</label>
        </div>
      </div>
    </fieldset>
    <br>
  <button type="submit" value="submit" [disabled]="meinFormular.invalid" class="submit" i18n>Abschicken</button>

  <div>
      <a href="https://chiemseer-kurzfilmtage.de/impressum/" class="privacy" target="_blank" rel="noreferrer" i18n>Impressum &nbsp;</a>
      <a href="https://chiemseer-kurzfilmtage.de/datenschutz/" class="privacy" target="_blank" rel="noreferrer" i18n>Datenschutz</a>
    </div>
</form>

<div *ngIf="isSubmitted">
  <app-submitted [firstName]='firstName'></app-submitted>
</div>